
body {
	height: 100%;
	text-align: center;
	width: 100%;
}

header {
  padding: 5px;
}

header .row{
  display: flex;
  align-items: center;
}

header img{
	height:10%;
	width:10%;
}

header h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	margin: 0;
	color: #000000;
}

header nav{
	display: flex;
	justify-content: flex-end;
}

.jumbotron {
	display: flex;
	align-items: center;
	background-size: cover;
	height: 600px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron bg-image {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.jumbotron p{
	font-size: 40px;
	font-weight: 300px;
	color: #000000;
	margin: 10px 30px 20px;
}

.jumbotron h1{
	font-size: 150px;
	font-weight: 2000px;
	color: #000000;
	margin: 10px 30px 20px;
}

.jumbotron h2{
	font-size: 50px;
	font-weight: 600px;
	color: #ffffff;
	margin: 10px 30px 20px;
}

.jumbotron h3{
	font-size: 30px;
	font-weight: 300px;
	color: #ffffff;
	margin: 10px 120px 10px;
}

.jumbotron background-image{
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

section .row img {
	background-image: url("Slike/index/uvonda_jumbo_racunalnik.jpg");
	margin: 0 0 30px;
	width: 100%;
}

.col-md-6 {
	margin: 0 0 30px;
	
}

p {
	font-size: 20px;
}


footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #FF0013;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.buffer {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.buffer2 {
  padding-right: 20px;
  padding-left: 20px;
}	
	
	